<% include ../partials/boilerplate %>
<% include ../partials/nav %>
<h1>Edit Users</h1>

<div id='edit-box'>
  <form method='POST' action='/appc/admin/users/<%= user.id %>?_method=PUT'>
    <input name='username' type='text' value='<%=user.username%>'></input>
    <input name='first_name' type='text' value='<%=user.first_name%>'></input>
    <input name='last_name' type='text' value='<%=user.last_name%>'></input>
    <input name='email' type='text' value='<%=user.email%>'></input>
    <input name='admin' type='text' value='<%=user.admin%>'></input>
    <input class='submit-button button' type='submit' value='Edit it!'/>
  </form>
</div>
</table>

<% include ../partials/footer %>
<% include ../partials/end %>